/*
	File Name:             Game - CSS File 
	Author:                Benzir Ahmed 
	Last Modified By:      Benzir Ahmed
	Last Modified Date:    Friday, December 09th, 2016
	Website Name:          COMP397 - Final Project
	Program Description:   CSS file that contains the styles that render the whole 
						   COMP397 - Final Project site which is the Dig Rat Game.
*/

/*=================================================
			1. Common Variables
==================================================*/
html {
    background-color: darkgrey;	
	background-image: url("../Assets/images/pixel_weave-1.png");
    background-repeat: repeat;
}

body {
    background-color: darkgrey;
	background-image: url("../Assets/images/pixel_weave-1.png");
    background-repeat: repeat;
}

.page-header{
	font-weight: bold;
	color: white;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #bd8e5c;
}

.game {
    width : 50%;
    margin: 0 auto;
}

canvas {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    margin-left: 10%;
    width: 950px;
    margin-left:-25%;
}

/*=================================================
			2. Footer - NOT USED CURRENTLY
==================================================*/

/*=================================================
			3. @Media Variables - NOT USED CURRENTLY
==================================================*/